@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=K2D:wght@300;500&family=Montserrat:wght@200&display=swap');


.wallpaper {
    background-image: url("../../public/assets/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h2{
    font-family: 'K2D', sans-serif;
    /* font-size: 2.5rem;
    font-weight: 500; */
    color: #fff;
    /* text-align: center;
    margin-top: 2rem; */
}

.content__landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}